/**
 * @author Robert Dougan
 * @email  rdougan@me.com
 * @web    http://dougan.me
 */

/* @group body */
body,
html {
  font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size:14px;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  
  background:url(../images/background.png);
}
/* @end */

/* @group no-select */
/*div,*/
/*span,*/
/*a,*/
h1,
h2 {
  -moz-user-select:none;
  -khtml-user-select:none;
  user-select:none;
  
  cursor:default;
}
/* @end */

/* @group text selection background */
::selection { background:#e5e5e5; }
::-moz-selection { background:#e5e5e5; }
/* @end */

/* @group links */
a {
  cursor:pointer;
  cursor:hand;
}
a:link,
a:active,
a:visited {
  color:#007fe0;
  -webkit-transition:color 250ms linear;
}
a:hover { color:#41adff; }
/* @end */

/* @group clearfix */
.clearfix:after {
	content:".";
	
	display:block;
	
	clear:both;
	
	visibility:hidden;
	
	line-height:0;
	
	height:0;
}
.clearfix { display:inline-block; }
html[xmlns] .clearfix { display:block; }
* html .clearfix { height:1%; }
/* @end */

/* @group wrapper */
#wrapper {
  width:614px;
  
  margin:0 auto;
}
/* @end */

/* @group header */
#header {
  position:relative;
  
  margin:75px 0 7px;
}
#header h1 {
  font-size:26px;
  font-stretch:condensed;
  font-weight:bold;
  
  border-bottom:1px solid #ccc;
  
  -moz-user-select:none;
  -khtml-user-select:none;
  user-select:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #header h1 {
    font-family:'HelveticaNeue-CondensedBold', 'Helvetica Neue Bold Condensed', Helvetica, Arial, serif;
  }
}
/* @end */

/* @group menu */
#menu {
  position:absolute;
  bottom:1px;
  right:0;
  
  white-space:nowrap;
}
#menu > span {
  display:block;
  
  float:right;
  
  color:#666;
  font-size:12px;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  
  margin:0 0 0 7px;
  padding:2px 5px;
  
  background:#e5e5e5;
  
  border:1px solid #ddd;
  border-width:1px 1px 0 1px;
  border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  
  cursor:pointer;
  cursor:hand;
  
  -moz-user-select:none;
  -khtml-user-select:none;
  user-select:none;
  
  -webkit-transition:background 250ms linear;
/*  -webkit-transition:color 250ms linear;*/
}
#menu > span:hover { background:#d9d9d9; }
#menu > span.active {
  color:#fff;
  text-shadow:0 1px 0 #006fc4;
  
  background:#007fe0;
  
  border-color:#006fc4;
  
  cursor:default;
}
#menu > span.active:hover {
  color:#fff;
  
  background:#007fe0;
  
  cursor:default;
}
/* @end */

/* @group entries - used for blog + flickr */
#content > div {}
#content > div div.entry {
  position:relative;
  
  background:#e7e7e7;
  background:-webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e2e2e2));
  
  margin:0 0 7px 0;
  padding:7px;
  
  min-height:12px;
  
  text-shadow:0 1px 0 #fff;
  
  opacity:0.7;
  
  -webkit-transition:opacity 250ms linear;
  
  z-index:1;
}
#content > div div.entry.expanded,
#content > div div.entry:hover { opacity:1; }
/*header*/
#content > div div.entry > h2 {
  position:absolute;
  
  color:#888;
  font-size:16px;
  font-weight:bold;
  line-height:12px;
  text-transform:uppercase;
  
  cursor:pointer;
  cursor:hand;
  
  height:19px;
  width:600px;
  
  background:-webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(rgba(231, 231, 231, 0)));
  
  z-index:1;
}
#content > div div.entry:hover > h2 { background:transparent; }
#content > div div.entry.expanded > h2 { cursor:default; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #content > div div.entry > h2 {
    font-family:'HelveticaNeue-CondensedBold', 'Helvetica Neue Bold Condensed', Helvetica, Arial, serif;
  }
}
#content > div div.entry > h2 > span {
  color:#bbb;
  font-weight:normal;
}
#content > div div.entry > h2 > span.extend {
  float:right;
  
  font-size:10px;
  
  opacity:1;
  -webkit-transition:opacity 250ms linear;
}
#content > div div.entry.expanded > h2 > span.extend { opacity:0; }
/*body*/
#content > div div.entry div.body {
  opacity:0;
  -webkit-transition:opacity 1s linear;
}
#content > div div.entry.expanded div.body { opacity:1; }

#content > div div.entry p {
  padding:7px 0 0 0;
  
  font-size:13px;
  line-height:20px;
  text-align:justify;
}
#content > div div.entry blockquote {
  margin:7px 0 0 0;
  padding:5px 7px;
  
  color:#333;
  font-family:Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size:16px;
  font-style:italic;
  line-height:22px;
  text-align:justify;
  
  background:#fff;
  background:rgba(255, 255, 255, .2);
  
  border:1px solid rgba(255, 255, 255, .4);
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#content > div div.entry a:link.main,
#content > div div.entry a:active.main,
#content > div div.entry a:visited.main {
  display:inline-block;
  
  margin:7px 0 0 0;
  padding:2px 7px;
  
  background:#ccc;
  background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  color:#eee;
  font-weight:bold;
  text-align:center;
  text-shadow:0 1px 0px #666;
  text-decoration:none;
  
  opacity:.6;
  -webkit-transition:opacity 250ms linear;
}
#content > div div.entry a:hover.main { opacity:1; }
#content > div div.entry div > p:first-child { padding:20px 0 0 0; }
#content > div div.entry div > div.gallery { padding:14px 0 0 0; }
/*code*/
#content > div div.entry .syntaxhighlighter {
  background:#fff !important;
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  margin:7px 0 0 0 !important;
  
  width:598px !important;
  
  text-shadow:none;
}
/*tags*/
#content > div div.entry > span {
  display:none;
  
  margin:7px 0 0 0;
  
  font-size:10px;
  text-shadow:0 1px 0 #ddd;
}
#content > div div.entry > span a:link,
#content > div div.entry > span a:active,
#content > div div.entry > span a:visited {
  display:inline-block;
  
  margin:0 3px 0 0;
  padding:2px 4px;
  
  background:#ccc;
  background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  color:#666;
  text-decoration:none;
}
#content > div.blog div.entry > span a:hover {
  background:-webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#b0b0b0));
  
  color:#555;
}

/*#content > div div.entry.active > h2 > span.extend { visibility:hidden; }*/
/*#content > div div.entry.active > p,*/
/*#content > div div.entry.active > code,*/
/*#content > div div.entry.active > span { display:block; }*/
/* @end */

/* @group flickr gallery */
#content > div.flickr .gallery {
  position:relative;
  
  margin:7px 0 0 0;
  
  height:333px;
  
  overflow:hidden;
}
#content > div.flickr .gallery .scroller {
  position:absolute;
  
  width:40000px;
}
#content > div.flickr .gallery .scroller > div {
  display:inline-block;
  
  width:600px;
  height:333px;
}
#content > div.flickr .gallery .scroller > div img {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
/* handles */
#content > div.flickr .gallery .handle {
  position:absolute;
  bottom:0;
  left:0;
  
  background:rgba(255, 255, 255, 0.3);
  
  width:250px;
  height:35px;
  
  z-index:1;
  
  -webkit-animation-name:fadeIn;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function:linear;
}
/* @end */

/* @group social links */
#social {
  -moz-user-select:none;
  -khtml-user-select:none;
  user-select:none;
  
  position:absolute;
  bottom:50px;
  left:50px;
  
  color:#555;
  font-family:Georgia, "Nimbus Roman No9 L", serif;
  font-size:18px;
  font-style:italic;
  text-shadow:0 1px 0 #fff;
  
  cursor:default;
}
#social > a:link,
#social > a:active,
#social > a:visited {
  display:block;
  
  color:#aaa;
  font-family:'HelveticaNeue-CondensedBold', 'Helvetica Neue Bold Condensed', Helvetica, Arial, serif;
  font-size:10px;
  font-style:normal;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  text-transform:uppercase;
  
  margin-bottom:3px;
  
  -webkit-transition:color 250ms linear;
}
#social > a:hover { color:#777; }

#tweet span.username { color:#007fe0; }
/* @end */

/* @group about page */
.about > div > h2,
.about > div > h3,
.about > div h4 {
  color:#888;
  font-size:16px;
  font-weight:bold;
  line-height:12px;
  text-transform:uppercase;
  
  height:19px;
  
  z-index:1;
}
.about > div > h3 { font-size:14px; }
.about > div h4 {
  color:#aaa;
  font-size:12px;
}
.about > div h4.indent { margin-top:7px; }

.about > div.block {
  background:#e7e7e7;
  background:-webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e2e2e2));
  
  margin:0 0 7px 0;
  padding:7px;
  
  min-height:12px;
  
  font-size:13px;
  line-height:20px;
  text-align:justify;
  text-shadow:0 1px 0 #fff;
}

.about > div.block.things > div { margin-left:7px; }
.about > div.block.things a {
  display:inline-block;
  
  margin:0 3px 0 0;
  padding:2px 4px;
  
  background:#ccc;
  background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
  
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  color:#333;
  font-size:12px;
  text-decoration:none;
  
  opacity:.6;
  
  -webkit-transition:opacity 250ms linear;
}
.about > div.block.things a:hover {
  background:-webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#b0b0b0));
  
  color:#555;
  
  opacity:1;
}
/* @end */
